<ng-container *ngIf="movies.length; else empty">
  <app-movie-list-element
    *ngFor="let movie of movies; trackBy: trackBy"
    [movie]="movie"
    (favoriteChange)="onFavoriteChange(movie, $event)"
  >
  </app-movie-list-element>

  <button
    *ngIf="!(movies.length >= total)"
    class="pure-button pure-button-primary"
    [disabled]="loading"
    (click)="loadMore.emit()"
  >
    Load More
  </button>
  <span *ngIf="total"> Quantity: {{movies.length}} / {{total}}</span>
</ng-container>

<ng-template #empty>
  <div *ngIf="!firstTime && !loading">Movies not found. Try another search</div>
</ng-template>
