<div class="pure-form">
  <fieldset>
    <label
      class="label"
      [spinner]="loading$ | async"
    >
      <input
        type="text"
        class="query-input"
        [formControl]="queryControl"
        placeholder="Search movie..."
      >
    </label>

  </fieldset>
</div>

<app-movie-list
  [movies]="movies$ | async"
  [error]="error$ | async"
  [loading]="loading$ | async"
  [total]="total$ | async"
  (loadMore)="onLoadMore()"
  (favoriteElementChange)="onFavoriteElementChange($event)"
></app-movie-list>
